# İstenmeyen klasörler ve dosyalar
/pdf/
*.pdf
*.txt
/sunum/
/yeni dokuman/

# Python gereksiz dosyaları (Önbellek vb.)
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# (Eğer isterseniz) Gereksiz not defterleri
scratch_read_docs.txt
scratch_read_docs.py
